<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="nGratis (COP) Rules" Description="This rule set contains minimum rules for nGratis (Community of Practice) projects." ToolsVersion="16.0">
  <Include Path="basiccorrectnessrules.ruleset" Action="Default" />
  <Include Path="basicdesignguidelinerules.ruleset" Action="Default" />
  <Include Path="managedminimumrules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0002" Action="None" />
  </Rules>
</RuleSet>