framework: netcoreapp3.1
source https://api.nuget.org/v3/index.json

nuget Humanizer.Core
nuget JetBrains.Annotations
nuget Newtonsoft.Json
nuget System.Threading.Tasks.Extensions
nuget YamlDotNet

group _UI

    framework: netcoreapp3.1
    source https://api.nuget.org/v3/index.json

    nuget Caliburn.Micro ~> 4.0.136-rc
    nuget MahApps.Metro
    nuget OxyPlot.Wpf
    nuget ReactiveUI
    nuget ReactiveUI.WPF

group _Support

    framework: netstandard2.1
    source https://api.nuget.org/v3/index.json

    nuget JetBrains.Annotations
    nuget Newtonsoft.Json
    nuget NLog
    nuget System.Reactive.Linq

group _Test

    framework: netcoreapp3.1
    source https://api.nuget.org/v3/index.json

    nuget FluentAssertions
    nuget Microsoft.NET.Test.Sdk
    nuget Moq
    nuget xunit
    nuget xunit.runner.visualstudio ~> 2.4.1.0

group _Test_Support

    framework: netstandard2.1
    source https://api.nuget.org/v3/index.json

    nuget Moq